.circle {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: black;
  animation: circleAnimation 1.5s ease-in-out forwards;
}

.circle-wall {
  animation: wallAnimation 1.5s ease-in-out forwards;
}

@keyframes wallAnimation {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes circleAnimation {
  0% {
    transform: translateY(-50vh) scale(0);
  }
  30% {
    transform: translateY(10vh) scale(1);
  }
  45% {
    transform: translateY(-10vh) scale(1);
  }
  50% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(0) scale(100);
    opacity: 0;
  }
}

* {
  scrollbar-width: none;
}