.conteneur {
  position: relative;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.cercle {
  width: 7px;
  height: 7px;
  background-color: #b2b2b2;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  /* left: 50%; */
  right: 0;
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease;
}

.conteneur:hover .cercle::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: black;
  border-color: #b2b2b2;
  border-width: 1px;
  border-radius: 50%;
  animation: agrandir 0.5s ease forwards;
}

@keyframes agrandir {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.texte {
  margin-right: 10px; /* Espacement entre le texte et le tiret */
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  position: relative; /* Ajout de la position relative pour le positionnement du pseudo-élément */
}

.texte::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -40px; /* Ajustez selon votre besoin */
  width: 35px; /* Longueur du tiret */
  height: 1px; /* Épaisseur du tiret */
  background-color: black;
}

.conteneur:hover .texte {
  transform: translateX(-100%);
  opacity: 1;
  transition: transform 0.5s ease, opacity 0.5s ease;
}