@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}

.textShadow {
  text-shadow: 0 0 10px #fff;
}